body {
    font-family:Calibri;
    /* font-size: 16px; */
}
.conteiner-fluid{
    width: 350px;
    padding: 7px;
}
p{
    text-align: center;
    margin: 0px;
}
.first-row{
    font-size: 1.3rem;
}
.second-row{
    display: inline-block;
}
#name{
     font-weight: bold;
}

#date-conteiner{
    /*width: 50%;*/
    padding-left: 0px;
}
#date-conteiner input{
    height: 40px;
    border-radius: 4px;
}
#nav-conteiner{
    padding-right: 0px;
}
#nav-panel{
    margin: 0;
}
table{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}
#table-head-row{
    padding-top: 10px;
}
table tr:first-child{
        /*border-bottom: 1px solid #ccc*/
}
td{
    width: 33.3%;
}
.time{
    font-size: 4rem;
}
#loader{
    display:none;
    position: absolute;
    width: 80%;
    top: 30%;
    left: 10%;
}
#dropdownMenu2, .dropdown-menu{
    border: none;
    width: 100%;
}
.opacity{
    opacity: 0.5;
}
#left, #right{
    width: 20px;
    background: white;
}

#working-space{
    display: none;
}

#auth h2{
    margin: 0px;
}

.alert{
    display: none;
}