body {
        font-family:Calibri;
    font-size: 10px;
}
main{
    display: block;
        text-align: center;
    width: 250px;
    height: 100px;
    /*background-color: aqua;*/
}
p{
    margin: 0px;
}
#content{
    display:block;
    text-align: center;
    font-size: 4rem;
}
